{% extends 'base.html' %}
{%block head%}
<title>Password_recovery</title>
{%endblock%}

{% block body %}

<div class="container back">
    <h3 style="margin-top: 20px;">Please enter ur email to reset the password</h3>
    <br>
    <form action="/forget_password" method="POST">
        {% if otp=="nototp" %}
        <label>Email:</label>
        <input type="email" class="form-control" placeholder="Email" name="email" value="" required><br>
        {%else%}
        <label>OTP:</label>
        <input type="text" class="form-control" placeholder="otp" name="otp" value="" required><br>
        {%endif%}
        <input class="btn btn-primary" type="submit" value="Submit">

    </form>
</div>

{%endblock%}














