
{% extends 'base.html' %}
{%block head%}
<title>PasswordReset</title>
{%endblock%}

{% block body %}

<div class="container back">
    <h3 style="margin-top: 20px;">Reset password</h3><br>
    <form action="/update_password" method="POST">
    <label>Email:</label>
    <input type="email" class="form-control" placeholder="Email" name="email" value="" required><br>
    <br>
    <label>New Password</label>
    <input type="password" class="form-control" placeholder="new password" name="new_password" value="" required>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</div>

{%endblock%}














